<div class="container">
    <h1>Hola este es mi primer proyecto</h1>
    <h2>{{ welcome }}</h2>
    <!-- CommonModule versiones viejas -->
    <ul>
        @for (task of tasks(); track task) {
        <li>
            {{ task }}
        </li>
        }
    </ul>
    <!-- Nuevas versiones de angular -->
    <ul>
        @for (task of tasks(); track task) {
        <li>{{ task }}</li>
        }
    </ul>
    <hr />
    <h2>{{ 'Hola'.repeat(4) }}</h2>
    <p>la suma de 3 + 3 es {{ 3 + 3}}</p>
    <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
    <hr />
    <img [src]="person().avatar" alt="">
    <input type="number" [value]="person().age">
    <button [disabled]="disabled">Click me!</button>
    <p>person: {{ person().name }}</p>
    <hr />
    <button (click)="clickHandler()">Click me!</button>
    <button (dblclick)="clickHandler()">Double me!</button>
    <p>(change)</p>
    <input type="number" [value]="person().age" (change)="changeHandler($event)">
    <p>(change) No en tiempo real</p>
    <input type="text" [value]="person().name" (change)="changeHandler($event)">
    <p>(keydown)</p>
    <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
    <p>(keydown shift + t)</p>
    <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
    <p>(keyup) Tiempo real</p>
    <input type="text" [value]="person().name" (keyup)="keyupHandler($event)" />
    <hr />
    <h1>Signals</h1>
    <p>total: {{ tasks().length }}</p>
    <ul>
        @for (task of tasks(); track task; let i = $index) {
        <li>
            {{ i }} {{ task }}
        </li>
        }
    </ul>
    <input type="text" [value]="name()" (change)="changeHandler($event)">
    <p>name: {{ name() }}</p>
    <hr />
    @if (1 !== 1) {
    <div>
        My contend
    </div>
    }
    @if (name() == 'Alejo') {
    <div>
        Soy Alejo
    </div>
    }
    @if (name() == 'Alejo') {
    <div>Soy Alejo</div>
    }
    <input type="number" [value]="person().age" (change)="changeAge($event)">
    @if (person().name == 'Alejo' && person().age > 18) {
    <div>
        Soy Alejo y soy mayor de 18 años
    </div>
    } @else {
    Soy Alejo y soy menor de 18 años
    }
    <h2>If else new</h2>
    @if (person().name == 'Alejo' && person().age > 18) {
    <div>Soy Alejo y soy mayor de 18 años</div>
    } @else {
    <div>Soy Alejo y soy menor de 18 años</div>
    }
    <hr />
    <input type="text" [value]="person().name" (change)="changeName($event)">
    <div>
        @switch (person().name) {
        @case ('Alejo') {
        <p>Yo soy Alejo</p>
        }
        @case ('Diego') {
        <p>Yo soy Diego</p>
        }
        @case ('Luisa') {
        <p>Yo soy Luisa</p>
        }
        @case ('Jaqueline') {
        <p>Yo soy Jaqueline</p>
        }
        @default {
        <p>Yo no soy nadie</p>
        }
        }
    </div>
    <hr />
    <input type="color" [formControl]="colorCrtl">
    <p>color: {{ colorCrtl.value }}</p>
    <svg>
        <g>
            <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCrtl.value" />
        </g>
    </svg>
    <hr />
    <input type="number" [formControl]="widthCrtl">
    <span class="box" [style.width.px]="widthCrtl.value"></span>
    <hr />
    <p>
        <input type="text" [formControl]="nameCrtl"> <br>
        <span class="message-error" [class.show]="nameCrtl.invalid && nameCrtl.touched">Nombre invalido</span>
    </p>
    <p>
        <input type="text">
    </p>
    <hr />
    <h2>New for</h2>
    <ul>
        <p>total: {{ tasks().length }}</p>
        @for (task of tasks(); track task; let i = $index) {
        <li>
            {{ i }} {{ task }}
        </li>
        }
    </ul>
    <ul>
        @for (task of tasks(); track task; let i = $index) {
        <li>{{ i }} {{ task }} </li>
        } @empty {
        <li><strong>La lista esta en vacio</strong></li>
        }
    </ul>
    <hr />
    <h2>New switch</h2>
    <div>
        @switch (person().name) {
        @case ('Alejo') {
        <p>Yo soy Alejo</p>
        }
        @case ('Diego') {
        <p>Yo soy Diego</p>
        }
        @case ('Luisa') {
        <p>Yo soy Luisa</p>
        }
        @case ('Jaqueline') {
        <p>Yo soy Jaqueline</p>
        }
        @default {
        <p>Yo no soy nadie</p>
        }
        }
    </div>
    <div>
        @switch (person().name) {
        @case ('Alejo') {
        <p>Yo soy Alejo</p>
        }
        @case ('Diego') {
        <p>Yo soy Diego</p>
        }
        @case ('Luisa') {
        <p>Yo soy Luisa</p>
        }
        @case ('Jaqueline') {
        <p>Yo soy Jaqueline</p>
        }
        @default {
        <p>Yo no soy nadie</p>
        }
        }
    </div>
</div>